modules = ["nodejs-18", "python-3.11"]
[nix]
channel = "stable-25_05"
packages = ["alsa-lib", "at-spi2-atk", "cairo", "chromium", "cups", "dbus", "expat", "glib", "libdrm", "libxkbcommon", "mesa", "nspr", "nss", "pango", "wkhtmltopdf", "xorg.libX11", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXext", "xorg.libXfixes", "xorg.libXrandr", "xorg.libxcb"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Scraper PDF"

[[workflows.workflow]]
name = "API Scraper PDF"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind=0.0.0.0:5000 --reuse-port main:app"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33395
externalPort = 3001

[[ports]]
localPort = 35587
externalPort = 3000

[[ports]]
localPort = 45819
externalPort = 3003

[[ports]]
localPort = 46113
externalPort = 3002

[deployment]
deploymentTarget = "autoscale"
run = ["node", "index.js"]
